<!-- Back button. -->
<div class="row mx-5 my-3">
	<a class="btn btn-outline-secondary" [routerLink]="['/client/order-details', clientNick ]">&larr; Back</a>
</div>

<!-- Status alerts. -->
<div class="container mt-3">
	<!-- Notification for success because ngAlerts are not working.-->
	<div class="alert alert-success" role="alert" *ngIf="isSuccess">
		{{successMsg}}
	</div>
	<!-- Notification for errors because ngAlerts are not working.-->
	<div class="alert alert-danger" role="alert" *ngIf="hasError">
		{{errorMsg}}
	</div>
</div>
<div class="container-fluid">
	<div class="px-4 py-4 row">
		<div class="col-md-8">
			<h3 class="mb-4">Add/Remove products from {{clientNick}}'s order, {{trackingNumber}}.</h3>
			<!-- Product table. -->
			<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Link</th>
						<th scope="col">Price</th>
						<th scope="col">Order Date</th>
						<th scope="col">Quantity</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of products; index as i">
						<th scope="row">{{ i + 1 }}</th>
						<td>{{ product.name_ }}</td>
						<td>{{ product.hyperlink }}</td>
						<td>${{ product.price }}</td>
						<td>{{ product.order_date }}</td>
						<td>{{ product.quantity }}</td>
						<td><button (click)="deleteProductConfirmed(product.name_, trackingNumber)"
								class="btn btn-danger btn-sm">Delete</button></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div class="col-md-3 pt-5 mx-5">
			<div class="form-group">
				<label for="prod_name">Product Name*</label>
				<input type="text" class="form-control" id="prod_name" required [(ngModel)]="newProduct.name_"
					name="prod_name" />
			</div>
			<div class="form-group">
				<label for="hlink">Product Link</label>
				<input type="text" class="form-control" id="hlink" required [(ngModel)]="newProduct.hyperlink"
					name="hlink" />
			</div>
			<div class="form-group">
				<label for="prod_price">Product Price* (Dollars)</label>
				<input type="text" class="form-control" id="prod_price" required [(ngModel)]="newProduct.price"
					name="prod_price" />
			</div>
			<div class="form-group">
				<label for="sp">Order Date:*</label>
				<div class="input-group">
					<input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="datePickerOut"
						ngbDatepicker #d="ngbDatepicker">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
							type="button">Calendar</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="prod_quan">Quantity*</label>
				<input type="text" class="form-control" id="prod_quan" required [(ngModel)]="newProduct.quantity"
					name="prod_quan" (keyup.enter)="insertProduct()" />
			</div>

			<p>* required fields.</p>

			<button (click)="insertProduct()" class="btn btn-success">Add Product</button>
		</div>
	</div>

</div>